%h2.heading CONTROVERSIAL ARTICLES
%ul
    -@article_array.each do |x_1|
        %li.article-display
            =x_1["title"]
            %br
            =link_to "#{x_1["section"]}", category_path( x_1["section"] )
            %br
            Published:
            =x_1["publish_date"]
            %br
            =link_to "Comments: #{x_1.comments.length}", article_path( x_1.id )
            %br
            =link_to "#{x_1['url']}", x_1['url'], target: "_blank"
%h2.heading LATEST HEADLINES
%ul
    -@results["response"]["results"].each do |x|
        %li.article-query
            =x["webTitle"]
            %br
            =link_to "#{x["sectionName"]}", category_path( x["sectionName"] )
            %br
            Published:
            =x["webPublicationDate"]
            %br
            =link_to "Be the first to comment", article_comment_path(x['id'])
            %br
            =link_to "#{x["webUrl"]}", x["webUrl"], target: "_blank"