<!DOCTYPE html>
<html>
  <head>
    <title>Politifight</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li class="nav-list-elements"><a href="/" class="nav-links">Home</a></li>
      <li class="nav-list-elements">
        <%= form_tag(search_path, method: :get) do %>
          <%= text_field_tag :search_query %>
          <%= submit_tag 'Search' %>
        <% end %>
      </li>
      <li class="nav-list-elements"><a href="#" class="nav-links">Discussions</a></li>
      <li class="nav-list-elements"><a href="#" class="nav-links">About</a></li>      
      <li class="nav-list-elements"><a href="#" class="nav-links">Login</a></li>
      <li class="nav-list-elements"><a href="#" class="nav-links">Register</a></li>
    </ul>
  </nav>
  <div class="main-wrapper">
  <h1 class="main-header">Politi-fight!</h1>
    <%= yield %>
  </div>
  </body>
</html>
