<!DOCTYPE html>
<html>
  <head>
    <title>Pf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li class="nav-list-elements">
        <input class="nav-search" type="text" placeholder="Search">
        <input class="nav-search" type="submit" name="search_query" value="Go!">
      </li>
      <li class="nav-list-elements"><a href="#" class="nav-links">Discussions</a></li>
      <li class="nav-list-elements"><a href="#" class="nav-links">About</a></li>      
      <li class="nav-list-elements"><a href="#" class="nav-links">Login</a></li>
      <li class="nav-list-elements"><a href="#" class="nav-links">Register</a></li>
    </ul>
  </nav>
  <div class="main-wrapper">
  <h1 class="main-header">PF HOME</h1>
    <%= yield %>
  </div>
  </body>
</html>
